@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.animate-rain {
  animation: rain linear infinite;
}